<div class="descricao">
  <strong>
    <span class="pontuacao">{{ pontuacao }}</span> pontos
  </strong>
</div>
<span class="descricao"
  >Preencha o formulario abaixo para salvar sua pontuação</span
>
<form [formGroup]="formJogador" (submit)="salvarJogador()">
  <fieldset>
    <div class="fields">
      <label for="nome">Nome:</label>
      <input
        type="text"
        formControlName="nome"
        name="nome"
        id="nome"
        class="input"
      />
    </div>
    <div class="fields">
      <label for="email">Email:</label>
      <input
        type="email"
        formControlName="email"
        name="email"
        id="email"
        class="input"
      />
    </div>
    <div class="fields">
      <input
        type="submit"
        class="btn btn-primary"
        [disabled]="formJogador.invalid"
      />
    </div>
  </fieldset>
</form>
