<section class="bg-dark text-white">
    <div class="container d-flex justify-content-center">
        <div class="apresentacao p-5">
            <img src="assets/images/darthvader.png" title="Imagem: Dath Vader">
            <h1 class="apresentacao--titulo">StarQuiz</h1>
            <a [routerLink]="['/quiz']" class="btn btn-danger font-weight-bold" title="jogar" aria-label="jogar">JOGAR!</a>
        </div>
    </div>
</section>

<section class="black bg-light">
    <div class="container p-5 d-flex descricao">
        <div class="descricao--imagem">
            <img src="assets/images/resistencia.png">
        </div>
        <div class="descricao-detalhes">
            <p>Você conhece os personagens de Star Wars?</p>
            <p>Sim? Então mostre-nos!</p>
            <p>Com esse quiz você terá oportunidade de identificar os principais personagens de Starwars, marcar pontos e se
                tornar um expert nesta série de filmes maravilhosa!</p>
        </div>
    </div>
</section>